In [ ]:
Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |
+-------------+---------+
personId is the primary key (column with unique values) for this table.
This table contains information about the ID of some persons and their first and last names.


Table: Address

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |
+-------------+---------+
addressId is the primary key (column with unique values) for this table.
Each row of this table contains information about the city and state of one person with ID = PersonId.


Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

The result format is in the following example.



Example 1:

Input:
Person table:
+----------+----------+-----------+
| personId | lastName | firstName |
+----------+----------+-----------+
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |
+----------+----------+-----------+
Address table:
+-----------+----------+---------------+------------+
| addressId | personId | city          | state      |
+-----------+----------+---------------+------------+
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |
+-----------+----------+---------------+------------+
Output:
+-----------+----------+---------------+----------+
| firstName | lastName | city          | state    |
+-----------+----------+---------------+----------+
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |
+-----------+----------+---------------+----------+
Explanation:
There is no address in the address table for the personId = 1 so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2.

# **Resposta Correta:**

In [ ]:
select p.firstName
  , p.lastName
  , a.city
  , a.state
from Person p left
join Address a
  on a.personId = p.personId

# **Explicação:**

# 1. SELECT

    SELECT p.firstName
    , p.lastName
    , a.city,
     a.state
Seleciona os campos desejados:

firstName e lastName da tabela Person.

city e state da tabela Address.

# 2. FROM Person p

    FROM Person p
Define a tabela principal como Person, com o alias p.

# 3. LEFT JOIN
Address a ON a.personId = p.personId

    LEFT JOIN Address a ON a.personId = p.personId

Faz um LEFT JOIN entre Person e Address:

Isso garante que todas as pessoas da tabela Person apareçam no resultado.

Se não houver endereço correspondente na tabela Address, os campos city e state virão como NULL.

# Fontes:

**Link do Site da Atividade:** https://leetcode.com/

**Link da Atividade:** https://leetcode.com/problems/combine-two-tables/submissions/1766541985/